/*
  blue: 		#0051a1
  light blue: 	#008dd6
*/

.text-blue {
    color: #0051a1;
}

.text-light-blue {
    color: #008dd6;
}

.text-grey {
    color: #aaa;
}

.green-box {
	background-color: RGBA(154,235,150,0.5) !important;
	padding: 20px;
}

/*--------------------------------Basic HTML-------------------------------------*/

body {
	font: 15px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #333;
	background-image: url('../images/background.jpg');
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/*---------------------TRANSITIONING------------------------*/

*:link, *:visited, *:hover, *:active, *:focus {
   -webkit-transition:
     color .25s linear,
     background-color .25s linear,
     border-color .25s linear,
     border .15s linear,
     -webkit-box-shadow .25s linear;
   transition:
     color .25s linear,
     background-color .25s linear,
     border-color .25s linear,
     border .15s linear,
     box-shadow .25s linear;
}


/* -------------------------------Headings---------------------------------------------*/

h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/*------------------------------Spacing------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 0px;
}

/*------------------------LINKING------------------------------------*/
a:link, a:visited {
    color: #008dd6;
    text-decoration: none;
}

a:hover, a:active {
    color: #0051a1;
    text-decoration: underline;
}


/* -----------------------Main Template-----------------------------*/

#header {
}

#content {
  margin: 0 auto;
}

#logo {
}

#footer {
    padding: 20px 0;
    color: #ccc;
}

#sidebar {
/*	background-color: RGBA(0,0,0,0.025);*/
}

#sidebar-right {
	width: 200px;
	float: right;
}

#sidebar-left {
	width: 220px;
	float: left;
	padding-right: 20px;
	margin: 0;
}

#tagline {
    float: right;
    font-size: 1.75em;
    color: #ccc;
    padding-top: 50px;
}

.clear {
	clear: both;
}

.grey-box {
	padding: 20px;
	background-color: RGBA(0,0,0,0.025);
}

.align {
	text-align: center;
	margin: 0 auto;
	width: 200px;
}

.align_amt {
	padding: 1px 5px;
	background-color: #ddd;
	height: 20px;
	float: left;
	margin: 0 5px 5px 0;
	clear: both;
	font-size: 12px;
}

.align_amt_big {
	padding: 5px;
	background-color: #ddd;
	height: 20px;
	float: left;
	margin: 5px 37px;
	clear: both;
	font-size: 16px;
	width: 115px;
	text-align: center;
}

#call-to-action {
    font-size: 1.5em;
    padding: 20px;
    margin: 10px 0;
    background-color: RGBA(0,0,0,0.025);
}

#call-to-action a {
    display: block;
    padding: 10px;
    margin: 10px 20px 0 20px;
    background-color: #0051a1;
    float: right;
    color: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#call-to-action a:hover {
    color: #fff;
    background-color: #008dd6;
    text-decoration: none;
    -moz-box-shadow: 0 0 5px 1px #aaa;
    -webkit-box-shadow: 0 0 5px 1px #aaa;
    box-shadow: 0 0 5px 1px #aaas;    color: #fff;
    background-color: #008dd6;
    text-decoration: none;
    -moz-box-shadow: 0 0 5px 1px #aaa;
    -webkit-box-shadow: 0 0 5px 1px #aaa;
    box-shadow: 0 0 5px 1px #aaas;
}

.separator {
    padding-top: 25px;
}

.separator div {
    border-right: 1px solid #ccc;
	padding: 10px 0;
	height: 90px;
}

.separator .omega {
    border: 0;
}

.separator .alpha {
}

.button {
    display: block;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    font-size: 20px;
    text-align: center;
    background-color: #0051a1;
    color: #fff;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.button:hover {
    color: #fff;
    background-color: #008dd6;
    text-decoration: none;
    -moz-box-shadow: 0 0 5px 1px #aaa;
    -webkit-box-shadow: 0 0 5px 1px #aaa;
    box-shadow: 0 0 5px 1px #aaas;	
}

/*--------------------NAVIGATION---------------------------------*/
#nav {
    float: right;
    height: 129px;
    position: relative;
}
	
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: right;
	position: absolute;
	bottom: 50px;
	right: 0;
}

#nav ul a {
	display: block;
        margin: 0;
	padding: 0 10px;
	text-decoration: none;
	font-family: Georgia, serif;
	font-size: 16px;
	color: #333;
	border-left: 3px solid transparent;
}
	
#nav ul a:hover {
	display: block;
	text-decoration: underline;
        margin: 0;
	text-decoration: none;
	color: #0051a1;
	border-left: 3px solid #0051a1;
/* 	 973dae*/
}

#nav li {
    float: left;
    margin: 0px;
    padding: 0px;
}
#nav li li {
    display: none;
}

#nav .login {
    float: right;
    margin: 20px 10px 0 0;
}

/*--------------------------------Most Influential Box-----------------------------*/

.influential-box {
	margin-top: 10px;
}

.influential-box .name {
    font: normal 1em 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    margin: 0;
    padding: 0;
}

.influential-box .company {
    color: #ccc;
}

.influential-box .photo {
    width: 100px;
    height: 125px;
    float: left;
    background-color: #ccc;
    margin: 0 20px 10px 0;
}

.influential-box .donation-amount {
    font-size: 1em;
    font-weight: normal;
    color: #008dd6;
    margin: 0;
}

.influential-box .desc {
    font-size: .8em;
    color: #777;
}

/*---------------------------Dashboard--------------------------*/

.profile-image {
	width: 220px;
	height: 220px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.page-feed {
	
}

.page-feed p {
	padding: 10px;
	min-height: 45px;
}

.page-feed p:nth-child(even) {
	
}

.page-feed p:nth-child(odd) {
	background-color: RGBA(0,0,0,0.025);
}

.page-feed span.time {
	float: right;
	width: 50px;
	background-color: #ddd;
	margin: 0 5px;
	text-align: center;
	font-size: 12px;
	padding: 3px;
}

/*-------------------------IMAGE SLIDER---------------------*/
/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:220px;	width: 600px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	/*background: url(paging_bg2.png) no-repeat; */
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
	visibility: hidden;
}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	background: #920000;
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.paging a:hover {font-weight: bold;}


/*---------------------------FORMS--------------------------*/

#content input[type="text"], #content input[type="password"] {
	background-color: #eee;
	padding: 5px;
	width: 360px;
}

#content input[type="submit"] {
	color: #fff;
	font-size: 16px;
	padding: 5px 12px;
	margin: 10px 37px 0 37px;
	background-color: #0051a1;
	border: none;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#content input[type="submit"]:hover {
	background-color: #008dd6;
}


input[type="submit"] {
	color: #fff;
	padding: 2px 7px;
	background-color: #0051a1;
	border: none !important;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

input[type="submit"]:hover {
	background-color: #008dd6;
}

input {
	border: 1px solid #ddd;
	background-color: #eee;
}

input:hover, input:focus {
	border: 1px solid #008dd6;
}

/*
input[type="radio"] {
	display: none;
}

.align label {
	background-color: #ddd;
	padding: 5px;
	width: 46px;
	margin: 5px 5px;
	display: block;
	float: left;
	text-align: center;
}


.align label:hover {
	background-color: #008dd6;
}


.align label.focused {
	background-color: #000;
}*/
