/*--------------------------------START Mixins-------------------------------------*/
.widget {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid silver;
  margin-left: 8px;
  margin-right: 8px;
}
.widget h1,
.widget h1,
.widget h3,
.widget h4,
.widget h5,
.widget h6,
.widget h7 {
  -webkit-margin-before: 0px;
}
.widget .widgetContent {
  margin: 15px 15px 15px 15px;
}
/*--------------------------------END Mixins-------------------------------------*/
/*--------------------------------Basic HTML-------------------------------------*/
body {
  font: 15px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #333333;
  background: #ffffff url('../images/backInvert.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  margin: 0;
  padding: 75px 0px 120px 0px;
}
* html body {
  overflow: hidden;
}
* html div#content {
  height: 100%;
  overflow: auto;
}
pre, code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}
/*---------------------TRANSITIONING------------------------*/
*:link,
*:visited,
*:hover,
*:active,
*:focus {
  -webkit-transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, border 0.15s linear, -webkit-box-shadow 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, border 0.15s linear, box-shadow 0.25s linear;
}
/* -------------------------------Headings---------------------------------------------*/
h1, h2, h3 {
  font-family: Georgia, serif;
  font-weight: normal;
}
h1 {
  font-size: 25;
}
h2 {
  font-size: 23;
}
h3 {
  font-size: 21;
}
h4 {
  font-size: 19;
}
h5 {
  font-size: 17;
}
h6 {
  font-size: 15;
}
/*------------------------------Spacing------------------------------------*/
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
li {
  margin-left: 30px;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 0px;
}
/*------------------------LINKING------------------------------------*/
a:link, a:visited {
  color: #b7b7ed;
  text-decoration: none;
}
a:hover, a:active {
  color: #a3a3ed;
  text-decoration: underline;
}
/* -----------------------Main Template-----------------------------*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2a8e;
  height: 75px;
  z-index: 10;
  border-botom: 2px solid #7171a4;
}
#header img {
  background-color: #2a2a8e;
}
#navBar {
  text-align: center;
  height: 50px;
  position: relative;
}
#navBar a {
  width: 50px;
  text-align: center;
  float: left;
  color: #cdb05c;
}
#navBar a img {
  display: none;
}
#navBar div.jqDockLabel {
  color: #cdb05c;
  background-color: #644b00;
  border: 1px solid #9a7400;
}
#navBar div.jqDockWrap {
  margin: 0 auto;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a2a8e;
  height: 75px;
  color: #eeeeee;
  z-index: 10;
}
.footer .navBar {
  margin: 0 auto;
  width: 300px;
}
.footer .navBar a {
  height: 75px;
}
.footer .navBar a img {
  height: 100%;
}
.linkFooter {
  position: fixed;
  bottom: 75px;
  left: 0;
  width: 100%;
  background: #7171a4;
  height: 25px;
  color: #eeeeee;
  z-index: 10;
}
.linkFooter div {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.linkFooter div a {
  padding-right: 10px;
}
#tagline {
  font-size: 1.75em;
  color: #eeeeee;
  position: absolute;
  left: 135px;
  top: 5px;
}
.clear {
  clear: both;
}
.align {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}
.break {
  margin: 10px 0;
}
form {
  counter-reset: fieldsets;
}
form fieldset {
  border: none;
  margin-bottom: 10px;
}
form fieldset:last-of-type {
  margin-bottom: 0;
}
form fieldset legend {
  color: #2a2a8e;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 0 1px 1px #7171a4;
}
form fieldset legend:before {
  content: "Step " counter(fieldsets) ": ";
  counter-increment: fieldsets;
}
form fieldset .formElement {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  border-color: #b7b7ed;
  border-color: rgba(183, 183, 237, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
  font-size: 90%;
}
form fieldset .formElement div.label {
  width: 150px;
  float: left;
  text-align: right;
  margin-right: 5px;
}
form fieldset .formElement div.field input {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#call-to-action {
  font-size: 1.5em;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid silver;
  margin-left: 8px;
  margin-right: 8px;
}
#call-to-action h1,
#call-to-action h1,
#call-to-action h3,
#call-to-action h4,
#call-to-action h5,
#call-to-action h6,
#call-to-action h7 {
  -webkit-margin-before: 0px;
}
#call-to-action .widgetContent {
  margin: 15px 15px 15px 15px;
}
#call-to-action a {
  padding: 10px;
  margin: 10px 20px 0 20px;
  float: right;
  display: block;
  background-color: #a3a3ed;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#call-to-action a:hover {
  background-color: #b7b7ed;
  text-decoration: none;
  box-shadow: ;
  -moz-box-shadow: ;
  -webkit-box-shadow: ;
}
.separator {
  margin-top: 15px;
}
.button {
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-size: 20px;
  text-align: center;
  display: block;
  background-color: #a3a3ed;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.button:hover {
  background-color: #b7b7ed;
  text-decoration: none;
  box-shadow: ;
  -moz-box-shadow: ;
  -webkit-box-shadow: ;
}
/*--------------------NAVIGATION---------------------------------*/
#nav {
  background-color: #EEE;
  border: solid 1px silver;
  padding-left: 5px;
  padding-right: 5px;
  width: 450px;
  position: absolute;
  top: 5px;
  right: 5px;
}
#nav form {
  margin: 0px;
}
#nav .login {
  float: right;
  margin: 20px 10px 0 0;
}
/*--------------------------------Most Influential Box-----------------------------*/
.influential-box {
  margin-top: 10px;
}
.influential-box .name {
  margin: 0;
  padding: 0;
}
.influential-box .company {
  color: #2a2a8e;
}
.influential-box .photo {
  width: 100px;
  height: 125px;
  float: left;
  background-color: #2a2a8e;
  margin: 0 20px 10px 0;
}
.influential-box .photo img {
  width: 100px;
}
.influential-box .donation-amount {
  font-size: 1em;
  font-weight: normal;
  color: #b7b7ed;
  margin: 0;
}
.influential-box .desc {
  font-size: .8em;
  color: #777;
}
.influential-box a {
  padding: 10px;
  margin: 10px 20px 10px 20px;
  float: left;
  display: block;
  background-color: #a3a3ed;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.influential-box a:hover {
  background-color: #b7b7ed;
  text-decoration: none;
  box-shadow: ;
  -moz-box-shadow: ;
  -webkit-box-shadow: ;
}
/*---------------------------Dashboard--------------------------*/
.profile-image {
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  background-color: #fff;
}
.page-feed p {
  padding: 10px;
  min-height: 45px;
}
.page-feed p:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.025);
}
.page-feed span.time {
  float: right;
  width: 50px;
  background-color: #eeeeee;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}
/*-------------------------IMAGE SLIDER---------------------*/
/*--Main Container--*/
.main_view {
  float: left;
  position: relative;
}
/*--Window/Masking Styles--*/
.window {
  height: 220px;
  width: 600px;
  overflow: hidden;
  /*--Hides anything outside of the set width/height--*/

  position: relative;
}
.image_reel {
  position: absolute;
  top: 0;
  left: 0;
}
.image_reel img {
  float: left;
}
/*--Paging Styles--*/
.paging {
  position: absolute;
  bottom: 40px;
  right: -7px;
  width: 178px;
  height: 47px;
  z-index: 100;
  /*--Assures the paging stays on the top layer--*/

  text-align: center;
  line-height: 40px;
  /*background: url(paging_bg2.png) no-repeat; */

  display: none;
  /*--Hidden by default, will be later shown with jQuery--*/

  visibility: hidden;
}
.paging a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}
.paging a .active {
  font-weight: bold;
  background: #920000;
  border: 1px solid #610000;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.paging a:hover {
  font-weight: bold;
}
/*---------------------------FORMS--------------------------*/
#content input[type="text"], #content input[type="password"] {
  background-color: #eeeeee;
  padding: 5px;
}
#content input[type="submit"] {
  color: #fff;
  font-size: 16px;
  padding: 5px 12px;
  margin: 10px 37px 0 37px;
  background-color: #a3a3ed;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#content input[type="submit"]:hover {
  background-color: #b7b7ed;
}
input[type="submit"] {
  color: #fff;
  padding: 2px 7px;
  background-color: #a3a3ed;
  border: none !important;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
input[type="submit"]:hover {
  background-color: #b7b7ed;
}
input {
  border: 1px solid #ddd;
  background-color: #eeeeee;
}
input:hover, input:focus {
  border: 1px solid #b7b7ed;
}
#divBrowseCharities a {
  width: 175px;
  float: left;
}
